<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./components/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>
 
<body>
    
    <h1>EDITAR ALUNO</h1>
    <a style="display: block; margin-block: 8px;" href="/home"><< voltar</a>
    <form method="POST">
      
      <table>
        <thead>
          <tr>
            <th>Email Principal</th>
            <th>Telefone Principal</th>
          </tr>
        </thead>
        <tbody>

            <tr>
              <td>
                <select name="email">
                  <% for (let j = 0; j < user.emails.length; j++) { %>
                    <option value="<%= user['emails'][j] %>" <%= user['emails'][j] === leading_email ? 'selected' : '' %>><%= user['emails'][j] %></option>
                  <% } %>
                </select>
              </td>
              <td>
                <select name="phone">
                  <% for (let j = 0; j < user.phones.length; j++) { %>
                    <option value="<%= user['phones'][j] %>" <%= user['phones'][j] === leading_phone ? 'selected' : '' %>><%= user['phones'][j] %></option>
                  <% } %>
                </select>
              </td>
            </tr>

        </tbody>
      </table>
      <input type="submit" value="ATUALIZAR">
    </form>
</body>
</html>
