<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./components/head.ejs') %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <a href="/add-user">Adicionar usuário</a>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>CPF</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>

        <% for (let i = 0; i < users.length; i++) { %>
        <tr>
          <td><%= users[i].id %></td>
          <td><%= users[i]["user_type"].toLowerCase() %></td>
          <td><%= users[i].name %></td>
          <td><%= users[i].email %></td>
           <td><%= users[i]["phone_number"] %></td>
          <td><%= users[i].cpf %></td>
          <td>
            <a href="/update-user">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <% if (users[i]["user_type"] !== "ADMIN") { %>
              <i class="glyphicon glyphicon-trash"></i></td>
            <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
  <button>Exportar CSV</button>


</body>
</html>